<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragment/header.html :: head}"></head>
<body>

<div class="container-fluid m-0 p-0">
    <div th:insert="~{fragment/header.html :: top-navbar}"></div>

    <div class="container-fluid m-0 p-0 d-flex">
        <div th:insert="~{fragment/header.html :: sidebar_agency}"></div>
        <main id="main-content">
            <div class="col-6">
                <input type="text" id="username" th:value="${username}" readonly hidden>

                <input type="text" id="role" th:value="${role}" readonly hidden>

            </div>
            <div class="container-fluid m-0 p-0 row">
                <div class="col-12 mt-2">
                    <div class="card-header row w-100 m-0">
                        <div class="container-fluid mt-2 p-2 row">
                            <div class="col-6 d-flex align-items-center">
                                <h1 class="card-title  text-dark text-left mb-2 fw-bolder">आवेदन की स्थिति</h1>
                            </div>
                            <div class="col-6 d-flex align-items-center justify-content-end">
                                <select id="financial-year-select" class="form-select w-50 card-border text-center"
                                        aria-label="Default select example">
                                    <!-- Options will be populated by JavaScript -->
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12 mt-2">

                    <div class="card-header row w-100 m-0">
                        <div class="container-fluid mt-2 p-2">
                            <div class="container-fluid card-border">
                                <div id="dataTableContainer" class="mt-2 mb-2">
                                    <table id="example" class="w-100 table-responsive">
                                        <thead>
                                        <tr>
                                            <th>एनओसी का प्रकार</th>
                                            <th>आवेदन स्थिति</th>
                                            <th>आवेदन दिनांक</th>
                                            <th>स्थिति</th>
                                            <th>फ़ाइल</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableBody">
                                        <tr>
                                            <td>जल आवंटन</td>
                                            <td>In Progress</td>
                                            <td>SE</td>
                                            <td>05/08/2024</td>
                                            <td>
                                                <button class="btn btn primary">FILE</button>
                                            </td>

                                            <!--                                <td><button class="btn btn-light"><span> <img class="img card-logo" th:src="@{/img/pdf.png}" alt="rejected"></span></button></td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- Modal For View Pdf -->
<div class="modal fade" id="pdfView" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container text-center">
                    <h1 class="modal-title fs-5" id="view">PDF</h1>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        onclick="removePdfSource()"></button>
            </div>
            <div class="modal-body" style="height: 80vh">
                <embed type="application/pdf" width="100%" height="100%" src="" id="viewFile">
            </div>
        </div>
    </div>
</div>

!-- Modal HTML -->
<div class="modal fade" id="fileViewModal" tabindex="-1" aria-labelledby="fileViewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="fileViewModalLabel">Feedback Form</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="fileViewForm" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="photoUpload" class="form-label">Upload Photo</label>
                        <input type="file" class="form-control"   name="uploadImage" id="photoUpload" accept=".jpeg,.png,.jpg"   required>
                    </div>
                    <div class="mb-3">
                        <label for="agencyName" class="form-label">Agency Name</label>
                        <input type="text" class="form-control"  name="agencyName" id="agencyName" required>
                    </div>
                    <div class="mb-3">
                        <label for="feedback" class="form-label">Feedback</label>
                        <textarea class="form-control" id="feedback"  name="description" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


    <div th:replace="~{fragment/header.html :: js}"></div>
    <script th:src="@{/js/agencyApplicationNocIssued.js}"></script>
    <script th:src="@{/js/dashboard.js}"></script>

</body>
</html>
