<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragment/header.html :: head}"></head>
<body>

<div class="container-fluid m-0 p-0">
    <div th:insert="~{fragment/header.html :: top-navbar}"></div>

    <div class="container-fluid m-0 p-0 d-flex">
        <div th:insert="~{fragment/header.html :: sidebar_agency}"></div>
        <main id="main-content">
            <div class="container-fluid m-0 p-0 row border border-2 shadow card">
                <div class="card-body">
                    <h1 class="mb-3 text-center">Track Application Status</h1>
                    <form action="/data/savingorder" method="POST" id="orderForm" enctype="multipart/form-data">

                        <div class="mb-3 row">
                            <label for="spc_Id" class="col-sm-2 col-form-label fw-bold">Enter Unique Id</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control w-50" id="spc_Id" name="spc_Id" required="">
                            </div>
                        </div>
                        <div>
                            <p class="text-danger">Note : Enter the unique ID you received during application submission on your verified Email.</p>
                        </div>
                        <div class="mb-3 row d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-25">Submit</button>
                        </div>

                    </form>

                </div>

                <div class="row flowchart">


                </div>

                <div class="card-header row w-100 m-0 tabularData" style="display: none;">
                    <div class="container-fluid mt-2 p-2">
                        <div class="container-fluid card-border">
                            <h3 class="flowchart-heading text-center m-2">स्थिति</h3>
                            <div id="dataTableContainer" class="mt-2 mb-2">
                                <table id="example" class="w-100 table-responsive">
                                    <thead>
                                    <tr>
                                        <th>क्रम संख्या</th>
                                        <th>दिनांक</th>
                                        <th>प्रेषक स्तर</th>
                                        <th>स्थानांतरण स्थिति</th>
                                        <th>टिप्पणी</th>
                                        <th>प्राप्तकर्ता स्तर</th>
                                        <!--                                <th>आवेदन की स्थिति</th>-->
                                        <!--                                <th>टिप्पणी</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>CE 1</td>
                                        <td>अनुमत</td>
                                        <td></td>
                                        <td></td>
                                        <td>05/08/2024</td>
                                        <td>05/08/2024</td>
                                        <!--                                <td>05/08/2024</td>-->
                                        <!--                                <td>05/08/2024</td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>




                <!--                <div class="col-12 mt-2">-->
                <!--                    <div class="card-header row w-100 m-0">-->
                <!--                        <div class="container-fluid mt-2 p-2 row">-->
                <!--                            <div class="col-6">-->
                <!--                                <h1 class="text-left mt-3 fw-bolder">आवेदन की समीक्षा करें</h1>-->
                <!--                            </div>-->
                <!--                            <div class="col-6 d-flex align-items-center justify-content-end">-->
                <!--                                <select id="financial-year-select" class="form-select w-50 card-border text-center" aria-label="Default select example">-->
                <!--                                    &lt;!&ndash; Options will be populated by JavaScript &ndash;&gt;-->
                <!--                                </select>-->
                <!--                            </div>-->
                <!--                        </div>-->

                <!--                    </div>-->
                <!--                </div>-->
                <!--                <div class="col-12 mt-2">-->
                <!--                    <div class="card-header row w-100 m-0">-->
                <!--                        <div class="container-fluid mt-2 p-2">-->
                <!--                            <div class="container-fluid card-border">-->
                <!--                                <div id="dataTableContainer" class="mt-2 mb-2">-->
                <!--                                    <table id="example" class="w-100 table-responsive">-->
                <!--                                        <thead>-->
                <!--                                        <tr>-->
                <!--                                            <th>Agency Name</th>-->
                <!--                                            <th>Date</th>-->
                <!--                                            <th>Status</th>-->
                <!--                                            <th>View File</th>-->
                <!--                                        </tr>-->
                <!--                                        </thead>-->
                <!--                                        <tbody>-->
                <!--                                        <tr>-->
                <!--                                            <td>ABC</td>-->
                <!--                                            <td>05/08/2024</td>-->
                <!--                                            <td>Rejected</td>-->
                <!--                                            <td>View</td>-->

                <!--                                        </tr>-->
                <!--                                        &lt;!&ndash; Add more rows as needed &ndash;&gt;-->
                <!--                                        </tbody>-->
                <!--                                    </table>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </div>-->

                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </main>
    </div>
</div>

<div th:replace="~{fragment/header.html :: js}"></div>
<script th:src="@{/js/applicationTrack.js}"></script>

</body>
</html>
