<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ERROR</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="display-1 fw-bold">500</h1>
    <p class="fs-3"> <span class="text-danger">Oops!</span></p>
    <h1 class="fw-bolder display-1">Internal server error.</h1>
    <h1 class="mb-3">
      For Further Information, Please contact Administrator.
    </h1>
    <h1 class="mb-3">
      अधिक जानकारी के लिए कृपया व्यवस्थापक से संपर्क करें।
    </h1>
    <a th:href="@{/noc/login}" class="btn btn-primary w-25">GO HOME</a>
  </div>
</div>
</body>

</html>