<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragment/header.html :: head}"></head>
<body>

<div class="container-fluid m-0 p-0">
    <div th:insert="~{fragment/header.html :: top-navbar}"></div>
    <div class="container-fluid m-0 p-0 d-flex">

        <div th:insert="~{fragment/header.html :: sidebar_dep}"></div>

        <main id="main-content">
            <div class="container-fluid m-0 p-0 row">
                <div class="col-12 mt-2">
                    <div class="card-header row w-100 m-0">
                        <div class="container-fluid mt-2 p-2 row">
                            <div class="col-6">
                                <h1 class="text-left mt-3 fw-bolder">आवेदन की स्थिति देखे</h1>
                            </div>
                            <div class="col-6 d-flex align-items-center justify-content-end">
                                <select id="financial-year-select" class="form-select w-50 card-border text-center" aria-label="Default select example">
                                    <!-- Options will be populated by JavaScript -->
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12 mt-2">
                    <div class="card-header row w-100 m-0">
                        <div class="container-fluid mt-2 p-2">
                            <div class="container-fluid card-border">
                                <div id="dataTableContainer" class="mt-2 mb-2">
                                    <table id="example" class="w-100 table-responsive">
                                        <thead>
                                        <tr>
                                            <th>दिनांक</th>
                                            <th>पिछली फ़ाइल</th>
                                            <th>सही फ़ाइल</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>05/08/2024</td>
                                            <td>CE 1</td>
                                            <td>5</td>

                                        </tr>
                                        <tr>
                                            <td>06/08/2024</td>
                                            <td>SE</td>
                                            <td>10</td>

                                        </tr>
                                        <tr>
                                            <td>07/08/2024</td>
                                            <td>EE</td>
                                            <td>15</td>

                                        </tr>
                                        <!-- Add more rows as needed -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>

</div>
<div th:replace="~{fragment/header.html :: js}"></div>
</body>
</html>
