<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>
<head th:insert="~{fragment/header.html :: head}"></head>

<style>
    #editorContainer {
        white-space: normal;
        word-wrap: break-word;
    }

    .disabled-row {
        background-color: #f0f0f0;
        opacity: 0.5; /* Reducing opacity to give a disabled effect */
        pointer-events: none; /* Prevents any interaction */

    }
</style>

<body class="overflow-x-hidden">

<div class="container-fluid m-0 p-0">
    <div th:insert="~{fragment/header.html :: top-navbar}"></div>
    <div class="container-fluid p-5">
        <div class="container-fluid p-0 border border-2 shadow card">
            <div class="mb-4 card-header fw-bold fs-3 heading">NOC Application Form</div>
            <div class="card-body">
                <div class="col-6">
                    <input type="text" id="username" th:value="${username}" readonly hidden>

                    <input type="text" id="role" th:value="${role}" readonly hidden>

                </div>
                <form id="remarkForm" class="form row g-3">

                    <div class="col-3 mb-3" hidden>
                        <label for="applicationId" class="form-label fw-bold">Application Id</label>
                        <input type="text" class="form-control" id="applicationId" th:value="${applicationId}"
                               name="applicationId" readonly>
                    </div>

                    <div class="row align-items-end">
                        <div class="col-4 mb-3">
                            <label for="nocType" class="form-label fw-bold">NOC Type</label>
                            <input type="text" class="form-control" id="nocType" name="appliedFor" required readonly>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="district" class="form-label fw-bold">District</label>
                            <input type="text" class="form-control" name="district" id="district" required readonly>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="canal" class="form-label fw-bold">Canal</label>
                            <input type="text" class="form-control" name="canal" id="canal" required readonly>
                        </div>

                        <div class="col-3 mb-3">
                            <label for="ee" class="form-label fw-bold">Executive Engineer</label>
                            <input type="text" class="form-control" name="executiveEngineer" id="ee" required readonly>
                        </div>
                        <div class="col-3 mb-3">
                            <label for="superintendentEngineer" class="form-label fw-bold">Superintendent
                                Engineer</label>
                            <input type="text" class="form-control" id="superintendentEngineer" name="se" required
                                   readonly>
                        </div>

                        <div class="col-3 mb-3">
                            <label for="chiefEngineer2" class="form-label fw-bold">Chief Engineer - 2</label>
                            <input type="text" class="form-control" id="chiefEngineer2" name="ce2" required readonly>
                        </div>

                        <div class="col-3 mb-3">
                            <label for="chiefEngineer1" class="form-label fw-bold">Chief Engineer - 1</label>
                            <input type="text" class="form-control" id="chiefEngineer1" name="ce1" required readonly>
                        </div>


                        <div class="row justify-content-center">
                            <div class="col-2 mb-3 d-flex justify-content-center align-items-end">
                                <button type="button" class="btn btn-primary w-100" onclick="addRow()">Attach New
                                    Document
                                </button>
                            </div>
                            <div class="col-2 mb-3 d-flex justify-content-center align-items-end">
                                <button type="button" class="btn btn-secondary w-100" onclick="markAllAsForwarded()">
                                    Mark All As Forwarded
                                </button>
                            </div>
                        </div>

                    </div>

                    <!---------------------------------Special Table For Attach Documents--------------------------------------------------->
                    <h2 class="mt-5 fw-bolder text-center" id="headingForDynamicTable" hidden>Attached Documents &
                        Information</h2>
                    <table id="dynamicTableForOnlyAttachDoc" hidden class="table table-bordered">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Document Description</th>
                            <th>Input</th>
                            <th>Remark</th>
                            <th hidden>Document Type</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                    <!---------------------------------Table For Only Attach Documents--------------------------------------------------->
                    <h2 class="mt-5 fw-bolder text-center">SELF GENERATED OR ADDITIONAL DOCUMENT/LETTER ATTACHED BY
                        DEPARTMENT</h2>
                    <span class="text-danger d-block fs-4 text-center">Note: This Table Contains all Attached Documents , Generated Letters and Forwarding Letters.</span>
                    <table id="dynamicTableForDocument" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th hidden>hiddenId</th>
                            <th>Document Description</th>
                            <th>Input</th>
                            <!--                            <th>Action</th>-->
                            <th>Remark</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>


                    <!--------------------------------- Table for Requirements--------------------------------------------------->
                    <h2 class="mt-5 fw-bolder text-center">Required Documents & Information</h2>
                    <span class="text-danger d-block fs-4 text-center">Note: This Table contains all Documents submitted by the Agency during the NOC form application process.</span>
                    <table id="dynamicTable" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Document Description</th>
                            <th>Input</th>
                            <th>Action</th>
                            <th>Remark</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td id="desc-1">Document 1 Description</td>
                            <td><a href="sample1.pdf" target="_blank">View PDF</a></td>
                            <td>
                                <select class="form-select action-dropdown" required onchange="checkActions()">
                                    <option value="">-- Select Action --</option>
                                    <option value="approved">Approved</option>
                                    <option value="rejected">Reject</option>
                                    <option value="forwarded">Forwarded</option>
                                </select>
                            </td>
                            <td><input type="text" class="form-control remark-input" required value="Remark 1"
                                       data-desc-id="1"></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td id="desc-2">Document 2 Description</td>
                            <td>5.5 meters</td>
                            <td>
                                <select class="form-select action-dropdown" required onchange="checkActions()">
                                    <option value="">-- Select Action --</option>
                                    <option value="approved">Approved</option>
                                    <option value="rejected">Reject</option>
                                    <option value="forwarded">Forwarded</option>
                                </select>
                            </td>
                            <td><input type="text" class="form-control remark-input" value="Remark 2" data-desc-id="2">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h2 class="text-dark d-block fs-4 text-center">  Click on Generated Forwarding Letter button to generate the Rejected Points Letter <strong>OR</strong> <br> On Attach Forwarding Letters button to generate your  Uploaded Letter
                        </h2>

                    <!-- Buttons for Approve and Reject -->
                    <div class="d-flex justify-content-center mt-3">


                        <button type="button" id="showEditorBtn" class="btn btn-success btn-sm mx-2"
                                style="display:block;" onclick="showTextEditor()">Generate Forwarding Letter
                        </button>
                        <button type="button" id="uploadDocBtn" class="btn btn-secondary btn-sm mx-2"
                                style="display:block;" onclick="uploadAdditionalDocument()">Attach Forwarding Letter
                        </button>
                    </div>

                    <!-- Text Editor (Initially Hidden) -->
                    <!--                    <div id="editorContainer" class="mt-3" style="display:none;">-->
                    <!--                        <textarea id="textEditor"></textarea>-->
                    <!--                        <button type="button" class="btn btn-primary mt-2" onclick="generatePDF()">Generate Letter</button>-->
                    <!--                    </div>-->

                    <!-- Create the editor container -->

                    <div class="container mt-2 mb-4">
                        <div class="row m-0 p-0 mb-5">
                            <div class="col-12" id="editorContainer" style="display: none;">
                                <div id="editor">
                                    <p>Hello World!</p>
                                    <p>Some initial <strong>bold</strong> text</p>
                                    <p><br/></p>
                                </div>
                                <button type="button" class="btn btn-primary mt-2" onclick="generatePDF()">Generate
                                    Letter
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="col-12">
                        <!-- File Upload Section (Initially Hidden) -->
                        <div id="uploadSection" class="mt-3" style="display:none;">
                            <label for="additionalDocument" class="form-label fw-bold fs-4">Attach Forwarding
                                Document</label>
                            <input type="file" class="form-control" id="additionalDocument"
                                   name="additionalDocument" accept="application/pdf">
                            <button type="button" class="btn btn-primary mt-2" onclick="uploadPDF()">Upload
                                Document
                            </button>
                        </div>

                        <!-- Section for Sending Application to CE1 (Initially Hidden) -->
                        <div id="sendToCe1Section" class="mt-3" style="display:none;">
                            <label for="ce1Select" class="form-label fw-bold">Choose CE1</label>
                            <select id="ce1Select" class="form-control">
                                <option value="">Select Ce1</option>  <!-- Options will be populated dynamically -->
                            </select>
                            <button type="button" class="btn btn-primary mt-2" onclick="sendApplicationToCe1()">Send
                                Application to CE1
                            </button>
                        </div>
                    </div>
                    <!-- Action dropdown and Reviewed button -->
                    <div class="container d-flex  justify-content-center  row mt-2" id="actionSection">
                        <!-- Example single danger button -->
                        <div class="col-4 mb-3">
                            <label for="roleDropdown" class="col-sm-2 col-form-label fw-bold">Action</label>
                            <select class="form-select action-dropdown" id="roleDropdown">
                                <option value="" selected>-- Select Action --</option>
                                <option value="REJECTED_REQUEST_FOR_RESUBMISSION">Rejected-Request for Resubmission
                                </option>
                                <option value="REJECTED_APPLICATION_CLOSED">Rejected-Application Closed</option>
                                <option value="REVIEWED">Reviewed</option>
                            </select>
                        </div>

                        <button type="submit" class="col-6 btn btn-success w-75" onclick="handleReviewButton()">
                            Reviewed
                        </button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal For View Pdf -->
<div class="modal fade" id="example" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container text-center">
                    <h1 class="modal-title fs-5" id="view">PDF</h1>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        onclick="removePdfSource()"></button>
            </div>
            <div class="modal-body p-0" style="height: calc(100vh - 56px);">
                <!-- Placeholder for Adobe PDF viewer -->
                <div id="viewFile" style="height: 100%; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{fragment/header.html :: js}"></div>
<script th:inline="javascript" th:src="@{/js/nocViewApplication.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
