<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragment/header.html :: head}"></head>
<body>

<div class="container-fluid m-0 p-0">
    <div th:insert="~{fragment/header.html :: top-navbar}"></div>

    <div class="col-12 mt-2">
        <h2 class="text-center">सरकारी आदेश एवं परिपत्र</h2>
        <div class="card-header row w-100 m-0">
            <div class="container-fluid mt-2 p-2">
                <div class="container-fluid">
                    <div id="orderTable" class="mt-2 mb-2">
                        <table id="example" class="w-100 table-responsive">
                            <thead>
                            <tr>
                                <th>आदेश संख्या</th>
                                <th>तारीख</th>
                                <th>विवरण</th>
                                <th>PDF</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Orders will be populated here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<button class="btn btn-light"><span> <img class="img card-logo" th:src="@{/img/pdf.png}" alt="rejected"></span></button>-->
<div th:replace="~{fragment/header.html :: js}"></div>
<script th:src="@{/js/order.js}"></script>
</body>
</html>
