<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragment/header.html :: head}"></head>
<body>

<div class="container-fluid m-0 p-0">
    <div th:insert="~{fragment/header.html :: top-navbar}"></div>
    <div class="container-fluid m-0 p-0 d-flex">

        <div th:insert="~{fragment/header.html :: sidebar_dep}"></div>

        <main id="main-content">
            <div class="container-fluid m-0 p-0 row">
                <div class="col-12 mt-2">
                    <div class="card-header row w-100 m-0">
                        <div class="container-fluid mt-2 p-2 row">
                            <div class="col-6">
                                <h1 class="text-left mt-3 fw-bolder">आवेदन पत्र</h1>
                            </div>
                            <div class="row d-flex align-items-center justify-content-end w-50">
<!--                                <select id="financial-year-select" class="form-select w-50 card-border text-center" aria-label="Default select example">-->
<!--                                    &lt;!&ndash; Options will be populated by JavaScript &ndash;&gt;-->
<!--                                </select>-->
                                <label>Enter the Application ID</label>
                                <input type="text" name="applicationid" id="applicationID" placeholder="Enter the Application ID" class="form-control"/>
                                <button id="report" class="btn btn-primary w-50 mt-2">Show Report</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12 mt-2">
                    <div class="card-header row w-100 m-0">
                        <div class="container-fluid mt-2 p-2">
                            <div class="container-fluid card-border">
                                <div id="dataTableContainer" class="mt-2 mb-2" style="display: none">
                                    <table id="example" class="w-100 table-responsive">
                                        <thead>
                                        <tr>
                                            <th>Application ID</th>
                                            <th>Agency Name</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>View File</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Prakash Agency</td>
                                            <td>05/08/2024</td>
                                            <td>Approved</td>
                                            <td><button class="btn btn-success">View</button></td>

                                        </tr>
                                        <!-- Add more rows as needed -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>

</div>

<div th:replace="~{fragment/header.html :: js}"></div>


<script>

    document.getElementById("report").addEventListener("click",function (){
        var id = document.getElementById("applicationID").value;
        var num = Number(id);
        console.log(num);
        fetch(`/data/applicationTableview?id=${num}`)
            .then(response => response.json())
            .then(response => {
                const data = response.data;
                console.log(data);

                document.getElementById("dataTableContainer").style.display="block";

                const tbody = document.querySelector('#example tbody');
                tbody.innerHTML = '';

                let tbodyContent = '';

                data.forEach(item => {
                    tbodyContent += `
                <tr>
                    <td>${item.applicationId}</td>
                    <td>${item.fromUser}</td>
                    <td>${item.date}</td>
                    <td>${item.status}</td>
                    <td><button class="btn btn-success" onclick="window.open('${item.docPath}', '_blank')">View</button></td>
                </tr>
            `;
                });

                // Set the innerHTML of the tbody
                tbody.innerHTML = tbodyContent;


            })
            .catch(error => console.error('Error fetching dashboard stats:', error));

    })

</script>



</body>
</html>
