<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragment/header.html :: head}"></head>
<body>

<div class="container-fluid m-0 p-0">
    <div th:insert="~{fragment/header.html :: top-navbar}"></div>

    <div class="container-fluid m-0 p-0 d-flex">
        <div th:insert="~{fragment/header.html :: sidebar_dep}"></div>
        <main id="main-content">
            <div class="container-fluid m-0 p-0 row border border-2 shadow card">
                <div class="card-body">
                    <h1 class="mb-3 text-center">Track Application Letter Status</h1>
                    <form id="orderForm" enctype="multipart/form-data">

                        <div class="mb-3 row">
                            <label for="spc_Id" class="col-sm-2 col-form-label fw-bold">Enter Unique Id</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control w-50" id="spc_Id" name="spc_Id" required="">
                            </div>
                        </div>
                        <div>
                            <p class="text-danger">Note : Enter the unique ID you received during application submission
                                on your verified Email.</p>
                        </div>
                        <div class="mb-3 row d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-25">Submit</button>
                        </div>

                    </form>

                    <!---------------------------------Special Table For Attach Documents--------------------------------------------------->
                    <h4 class="mt-5 fw-bolder" id="trackingLettersForDepHeading" hidden>List of Letters</h4>
                    <table id="trackingLettersForDep" hidden class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="text-align: center;" >S.No</th>
                            <th hidden>Hidden Id</th>

                            <th style="text-align: center;">Description</th>
                            <th style="text-align: center;">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>

                <div>

                </div>


                <!--                <div class="col-12 mt-2">-->
                <!--                    <div class="card-header row w-100 m-0">-->
                <!--                        <div class="container-fluid mt-2 p-2 row">-->
                <!--                            <div class="col-6">-->
                <!--                                <h1 class="text-left mt-3 fw-bolder">आवेदन की समीक्षा करें</h1>-->
                <!--                            </div>-->
                <!--                            <div class="col-6 d-flex align-items-center justify-content-end">-->
                <!--                                <select id="financial-year-select" class="form-select w-50 card-border text-center" aria-label="Default select example">-->
                <!--                                    &lt;!&ndash; Options will be populated by JavaScript &ndash;&gt;-->
                <!--                                </select>-->
                <!--                            </div>-->
                <!--                        </div>-->

                <!--                    </div>-->
                <!--                </div>-->
                <!--                <div class="col-12 mt-2">-->
                <!--                    <div class="card-header row w-100 m-0">-->
                <!--                        <div class="container-fluid mt-2 p-2">-->
                <!--                            <div class="container-fluid card-border">-->
                <!--                                <div id="dataTableContainer" class="mt-2 mb-2">-->
                <!--                                    <table id="example" class="w-100 table-responsive">-->
                <!--                                        <thead>-->
                <!--                                        <tr>-->
                <!--                                            <th>Agency Name</th>-->
                <!--                                            <th>Date</th>-->
                <!--                                            <th>Status</th>-->
                <!--                                            <th>View File</th>-->
                <!--                                        </tr>-->
                <!--                                        </thead>-->
                <!--                                        <tbody>-->
                <!--                                        <tr>-->
                <!--                                            <td>ABC</td>-->
                <!--                                            <td>05/08/2024</td>-->
                <!--                                            <td>Rejected</td>-->
                <!--                                            <td>View</td>-->

                <!--                                        </tr>-->
                <!--                                        &lt;!&ndash; Add more rows as needed &ndash;&gt;-->
                <!--                                        </tbody>-->
                <!--                                    </table>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </div>-->

                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </main>
    </div>
</div>

<div th:replace="~{fragment/header.html :: js}"></div>
<script th:src="@{/js/trackDepApplicationLetter.js}"></script>

</body>
</html>
